/*STAFF*/
/* WHITE BA: http://i.imgur.com/wJTv6Pd.png | */

/*HOOVERZ*/
[data-cid^="6697596-"] .badge-box .bdg{
background: url('http://i.imgur.com/k4ujMVh.gif')!important;
background-position: 0 0;
}

/*COBRA*/
[data-cid^="3620165-"] .badge-box .bdg{
